@import url(//db.onlinewebfonts.com/c/4d8683dbc436404ae093c1e7cbe5d551?family=Banks+Miles+Double+Line+W01);

@font-face {
  font-family: "Banks Miles Double Line W01";
  src: url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.eot");
  src: url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4d8683dbc436404ae093c1e7cbe5d551.svg#Banks Miles Double Line W01")
      format("svg");
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #ffc0cb;
  --tertiary-color: #ff00ff;
  --quarternary-color: #449fa1;
}

* {
  cursor: grab;
}

nav {
  background-color: #fff;
  padding: 13px;
  margin: 0 0 13px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
}

nav a {
  color: #000;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--quarternary-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Banks Miles Double Line W01";
}

h1 {
  color: var(--primary-color);
  font-size: 96px;
  letter-spacing: 3px;
}

h2 {
  color: var(--secondary-color);
  font-size: 54px;
}

h3 {
  color: var(--tertiary-color);
  font-size: 44px;
}

h4 {
  font-family: "Banks Miles Double Line W01";
  color: var(--secondary-color);
  font-size: 34px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #000;
}

a {
  text-decoration: none;
  font-family: "Banks Miles Double Line W01";
  color: var(--quarternary-color);
  transition: all 150ms ease-in-out;
}

a:hover {
  cursor: pointer;
  color: var(--quarternary-color);
  text-decoration-line: line-through;
  text-decoration-thickness: 14px;
  text-decoration-color: #ff00ff33;
}

img {
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.footer-link {
  color: #000;
}

.footer-link:hover {
  color: var(--quarternary-color);
  text-decoration: none;
}

.not-hero {
  height: 150px;
}

.hero {
  background: var(--secondary-color);
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  nav {
    font-size: 8px;
    margin: 0;
  }

  .hide {
    display: none;
  }
}
